[Desktop Entry]
Type=Application
Name=deepsh
Exec=deepsh
Comment=Deepsh on Python {{ python-fullversion }}
Icon=python
Categories=System;
Terminal=true
